body {
    overflow: hidden ;
}
/* Style for the title */
.titlepart h2  {
    font-size: 26px;
    text-align: center;
    color: #333; /* Default text color */
    position: relative;
    overflow: hidden;
    transition: color 0.3s ease, background-color 0.3s ease; /* Smooth transition for color changes */
  }

  .titlepart h2:hover {
    color: yellow; /* Text color on hover */
  }
  
  /* Style for the fill effect */
  .titlepart h2::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: 10px;
    background-color: black; /* Color of the fill */
    z-index: -1; /* Place behind the text */
    transition: width 0.7s ease; /* Smooth transition for fill effect */
  }
  
  /* Hover effect */
  .titlepart h2:hover::after {
    width: 100%; /* Fill width on hover */
  }
  
.titlepart nav {
    background: blue;
    padding: 6px;
    border-radius: 6px;
}

.titlepart nav li {
    display: inline;
    margin-left: 20px;
    background: rgb(255, 2, 65);
    color: white;

    padding: 6px;
    
}

.titlepart nav li:hover {
    color: blue;
    background: white;
    cursor: pointer;
}


.rankcc {
    height: 300px;
    width: 100%;
}

.card-rank-predictor  {
    height: 1000px;
}


/* ====RANKPREDICTGroup=========== */

    .containerrank {
        max-width: 400px;
        margin: 10px auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .form-group {
        margin-bottom: 15px;
    }
    .form-group label {
        display: block;
        margin-bottom: 5px;
    }
    .form-group input {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }
    .btn {
        display: block;
        width: 100%;
        padding: 10px;
        margin-top: 10px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 3px;
        cursor: pointer;
    }
    .result {
        margin-top: 20px;
        font-weight: bold;
    }

    .openpdf {
      display: none;
    }
